<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:form="http://www.w3.org/1999/xhtml">-->
<!--<%@taglib prefix="form" uri="http://www.springframework.org/tags/form" %>-->
<!--<head>-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Dear Employee, please enter your details</h2>-->
<!--<br>-->
<!--<br>-->
<!--<div th:align="center">-->
<!--    <h2>Spring Thymeleaf Form</h2>-->
<!--<form th:form=""action="/showDetails" name="person">-->
<!--    <th:block-->


<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
